.text-area{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text-area textarea{
    min-width: 34vw;
    background-color: #e0e0e0;
    resize: none;
    border-style: none;
    padding: 10px;
    box-sizing: border-box;
}
.text-area textarea:focus{
    outline: none;
}
.bar{
    display: flex;
    width: inherit;
    background-color: #e0e0e0;
    justify-content: flex-end;
    box-sizing: border-box;
    margin-top: -1vh;
}
.bar p{
    background-color: #c5c5c5;
    color: gray;
    padding: 0px 10px;
    margin: 5px;
    border-radius: 20px;
    font-size: 0.7rem;
}
@media only screen and ( max-width: 550px){
    .text-area{
        flex-direction: column;
        
    }
    .text-area textarea{
        min-width: 100%;
    }
    .bar{
        margin-bottom: 1vh;
    }
}